$bg-color: #409eff;
$border-color: #ebeef5;
$main-bg: #ebeef5;
:root {
  --el-border-radius-small: 5px;
}

@mixin setFillBg($bg) {
  background-image: url('/src/assets/images/#{$bg}.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetweenCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
